
{% extends 'base.html' %}

{% block title %}
List Todos
{% endblock title %}

{% block content %}



<a class="btn btn-primary" href="{% url 'create_todo' %}"><i class="fa-solid fa-plus"></i> Add TODO </a>
<h1>LIST OF TODOS</h1>



<p>COMPLETED: <strong>{{completed_todos_count}}</strong></p>
<p>INCOMPLETE: <strong>{{incomplete_todos_count}}</strong></p>
<p>TOTAL: <strong>{{todo_list.count}}</strong></p>
{% for todo in todo_list %}
    {% if todo.photo %}
    <p>PHOTO</p>
    <img src="{{todo.photo.url}}" alt="" class="img-fluid" style="height: 100px; width: 100px;">
    {% else %}
    <img src="#" alt="">
    {% endif %}
    <p>ID: {{todo.id}}</p>
    <p>Created at {{todo.created_at}}</p>
    <p>Updated at {{todo.updated_at}}</p>
    {% if todo.completed_status %}
   <p> <strike>{{todo}}</strike></p>
    {% else %}
    <p> {{todo}}</p>
    {% endif %}

    <h2>Created by: {{todo.created_by.username}}</h2>
    <a class="btn btn-warning" href="{% url 'edit_todo' todo.id %}"><i class="fa-solid fa-pen-to-square"></i>EDIT</a>
    <a class="btn btn-danger" href="{% url 'delete_todo' todo.id %}"><i class="fa-solid fa-trash "></i>DELETE</a>

<hr>
{% endfor %}


{% endblock %}



