
{% extends 'base.html' %}


{% block content %}

<a href="{% url 'create_todo' %}">Add TODO</a>
<h1>LIST OF TODOS</h1>

<p>COMPLETED: <strong>{{completed_todos_count}}</strong></p>
<p>INCOMPLETE: <strong>{{incomplete_todos_count}}</strong></p>
<p>TOTAL: <strong>{{todo_list.count}}</strong></p>
{% for todo in todo_list %}

    <p>ID: {{todo.id}}</p>
    {% if todo.completed_status %}
   <p> <strike>{{todo}}</strike></p>
    {% else %}
    <p> {{todo}}</p>
    {% endif %}

    <a class="btn btn-warning" href="{% url 'edit_todo' todo.id %}">EDIT</a>
    <a class="btn btn-danger" href="{% url 'delete_todo' todo.id %}">DELETE</a>

<hr>
{% endfor %}


{% endblock %}



